h1{
  color: red;
  text-align: center;
}






  .p1-style {
  background-color: blue;

  }
  .p2-style {
    background-color:green;
  }











.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
